* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(135deg, rgba(0,97,255,1) 0%, rgba(113,0,255,1) 50%, rgba(211,0,255,1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



.listGenerator {
  width: 100%;
  max-width: fit-content;
  justify-content: center;
  margin: 50px auto 20px;
}
.listGenerator button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}



#lists-container {
  margin: 100px auto;
  display: flex;
  max-width: 1575px;
  justify-content: center;
}



.list {
  width: 100%;
  max-width: 500px;
  background: #fff;
  margin-bottom: 25px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}



.listMenu {
  display: flex;
  background: #edeef0;
  margin-bottom: 25px;
}
.listMenu h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.listMenu input {
  font-size: 24px;
  border:none;
  background: transparent;
  outline: none;
  color: inherit;
  font-weight: bold;
}



.creator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
.creator input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}
.creator button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}



#tasks-container li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
#tasks-container li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url();
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
#tasks-container li.checked:before {
  background-image: url();
}
#tasks-container li.checked {
  color: #555;
  text-decoration: line-through;
}
#tasks-container li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
#tasks-container li span:hover {
  background: #edeef0;
}